* {
    font-family: 'Urbanist', sans-serif;
}

:root{
    --nav-height: 115px;
}

body {
   background-color: #f8f9fa;
   padding-top: var(--nav-height);
}

nav {
    position: fixed !important;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    z-index: 5;
}

.nav-link {
    padding-inline: 4px !important;
}

@media only screen and (max-width: 600px) {
    /* .h-responsive {
      height: 30vh;
    } */

    #nav-categories {
        display: flex !important;
        flex-direction: column !important;
    }
  }

.nav-link-custom {
    padding-right: 10px !important;
    padding-left: 10px !important;
    text-decoration: none !important;
    color: inherit;
}

li {
    list-style-type: none;
}

.nav-link-custom:hover {
    color: #6e3ffb !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler.active {
    color:#6e3ffb !important;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 30px !important;
    }

    h2 {
        font-size: 30px;
    }

    .start-100 {
        left: 30% !important;
    }
    .top-0 {
        top: 5%!important;
    }
  }

h2 {
    /* font-size: 50px; */
    font-weight: bolder;
}

.bg-custom {
    background-color: #f0f0f0;
}

.bg-brand {
    background-color: #dcdcdc;
}

.bg-carousel {
    background-color: #6e3ffb;
}

.bg-footer {
    background-color: black;
}

.bg-input {
    background-color: black;
    color: white;
    border:0;
    outline:0;
}

.bg-input:focus {
    outline:none!important;
}

.btn-carousel {
    background-color: #6e3ffb;
    border-radius: 0px !important;
    transition: 0.6s;
}

.btn-carousel:hover {
    box-shadow: 0 0 25px #6e3ffb !important;
}

.text-carousel {
    display: flex !important;
    align-items: center !important;
}

@media only screen and (max-width: 600px) {
    .text-responsive {
      font-size: 20px !important;
    }
  }

.btn-radius {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: gainsboro !important;
}

.border-custom {
    border-bottom: 4px solid black;
}

.border-footer {
    border-bottom: 1px solid white;
    transition: 0.2s;
}

.border-footer2 {
    border-top: 4px solid white;
}

.border-footer:hover {
    border-bottom: 4px solid white;
}

.bg-card {
    background: none;
    border: none;
}

.card {
    transition: 0.5s;
}

.swal2-html-container {
    overflow-x: hidden !important;
}

.card:hover {
    /* border: 1px solid rgb(209, 209, 209) !important;
    border-radius: 10px; */
    background-color: transparent !important;
    box-shadow: 0 0 5px #afafaf !important;
    border-radius: 10px;
}

.btn-card {
    height: 0px;
    width: 100%;
    background-color: black;
    color: black;
    border-radius: 0px !important;
    opacity: 0;
    position: absolute;
    bottom: 65px;
    transition: 0.6s;
    visibility: hidden;
    z-index: -1;   
}

.btn-card:hover {
    box-shadow: 0 0 25px black !important;
}

.card:hover .btn-card {
    height: 50px;
    opacity: 1;
    /* bottom: 65px !important; */
    visibility: visible;
    color: white !important;
    z-index: 0;
}

.btn-shop {
    background-color: #6e3ffb;
    border-radius: 0px !important;
    color: #6e3ffb;
    opacity: 0;
    position: absolute;
    bottom: -38px;
    transition: 0.6s;
    visibility: hidden;
    z-index: -1;
}

.btn-shop:hover {
    box-shadow: 0 0 25px #6e3ffb !important;
}

@media only screen and (max-width: 600px) {
    .btn-shop {
        color: white;
        opacity: 1;
        visibility: visible;
        z-index: 0;
        bottom: -40px;
    }

    .flex-column.flex-responsive{
        flex-direction: row !important;
    }

    /* .btn-card {
        color: white;
        opacity: 1;
        bottom: 65px;
        visibility: visible;
        z-index: 1;
    } */
  }

.card:hover .btn-shop {
    opacity: 1;
    /* bottom: -40px !important; */
    visibility: visible;
    color: white !important;
    z-index: 0;
}

.btn-more {
    background-color: #6e3ffb;
    border-radius: 0px !important;
    color: white !important;
    transition: 0.6s;
}

.btn-more:hover {
    box-shadow: 0 0 25px #6e3ffb !important;
}

.font-brand {
    color: #999999;
}

.font-footer {
    color: #6e3ffb;
}

.border-brand {
    border-bottom: 4px solid #999999;
}

/* Accordion Custom */

.accordion-button {
    box-shadow: none !important;
    background-color: transparent !important;
    border-bottom: 1px solid rgb(216, 216, 216) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-check-input:checked {
    background-color: black !important;
    border-color: black;
    /* box-shadow: 5px 10px rgb(216, 216, 216) !important; */
}

.form-check-input[type=radio] {
    border-radius: 60%;
    box-shadow: none;
    border: none !important;
    background-color: rgb(216, 216, 216);
}

.accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-control {
    box-shadow: none !important;
    background-color: transparent !important;
    border: 1px solid rgb(216, 216, 216) !important;
}

.form-select {
    box-shadow: none !important;
    background-color: transparent !important;
    border: 1px solid rgb(216, 216, 216) !important;
}

/* Slider prezzo */
section.range-slider {
    position: relative;
    width: 100%;
    height: 50px ;
    /* float: left; */
    text-align: center;
  }
  section.range-slider input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 14px;
    background-color: #e2e2e2;
    box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    overflow: hidden;
    left: 0;
    top: 30px;
    width: 100%;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  section.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
    /* android <= 2.2 */
    background-image: -webkit-radial-gradient(circle, black 50%, white);
    /* older mobile safari and android > 2.2 */
    background-image: radial-gradient(circle, black 50%, white);
    /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
  }
section.range-slider input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
}
section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0;
}
section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.fa-times {
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.fa-times:hover {
    color: white;
    background-color: #6e3ffb;
}


